[Desktop Entry]
Name=PyCharm Professional
Icon=pycharm-professional
GenericName=Python and Django IDE
Comment=Powerful Python and Django IDE. Professional version.
Exec=/usr/bin/pycharm-professional
Terminal=false
Type=Application
Categories=Development;IDE; 
StartupNotify=true
StartupWMClass=jetbrains-pycharm
